<configuration>
	<connectionStrings>
		<add name="AppDbContext" connectionString="
			 Server=localhost, 11433;
			 Database=STUDY;
			 Uid=sa; 
			 Pwd=qwer1234!@#$; 
			 Pooling=true; 
			 Min Pool Size=20; 
			 Max Pool Size=100; 
			 Connection Timeout=15;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
